@{
	ViewData["Title"] = "Contact";
}

@section Header {
	<h1 class="text-center">Contact</h1>
}
	<div class="list-group">
		<ul>
			<li class="list-group-item">Phone: @ViewBag.Phone</li>
			<li class="list-group-item">Email: @ViewBag.Email</li>
			<li class="list-group-item">Facebook: @ViewBag.Facebook</li>
		</ul>
	</div>
