@{
	ViewData["Title"] = "Tutorial Page 1";
}
<h2>Tutorial - Page 1</h2>
<p>Here's the first thing you need to know about my site.</p>
<div>
	<a class="btn btn-primary disabled" aria-disabled="true">Prev</a>
	<a class="btn btn-primary" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="2">Next</a>
</div>

