<form asp-action="AddStep1" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label>Destination</label>
        <input name="destination" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Start Date</label>
        <input name="startDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label>End Date</label>
        <input name="endDate" type="date" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Next</button>
    <button formaction="Cancel" formmethod="post" class="btn btn-secondary">Cancel</button>
</form>

