<form asp-action="AddStep3" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label>Activity 1</label>
        <input name="activity1" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Activity 2</label>
        <input name="activity2" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Activity 3</label>
        <input name="activity3" class="form-control" />
    </div>

    <button type="submit" name="button" value="Save" class="btn btn-primary">Save</button>

    <button type="submit" name="button" value="Cancel" class="btn btn-secondary">Cancel</button>
</form>

